body, h1, h2, h3, h4, p, div, section, header, footer, dl, dt, dd {
    margin: 0;
    padding: 0;
}

.bg-success {
    background-color: #1e7e34;
}

.container-fluid {
    width: 100%;
}

.row {
    clear: both;
    width: 100%;
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9 {
    float: left;
}
footer, header {
    clear: both;
    padding: 8px;
    text-align: center;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33%;
}
.col-5 {
    width: 41.6%;
}
.col-9 {
    width: 75%;
}

.card {
    border-radius: 10px;
}
.card-body {
    border-radius: 10px 0 10px 0;
}
.card{
    background-color: #ddd;
    margin: 10px 0;
}
.card .card-header {
    font-weight: bolder;
    font-size: 1.2em;
}
.card-header {
    padding: 10px 0 0 10px;
}
.card .card-body {
    background-color: #f2f2f2;
}

dt {
    clear: both;
}

.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

.w-100 {
    width: 100%;
}

.form-group {
    display: block;
    margin-bottom: 1rem;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
}
.form-row {
    clear: both;
    width: 100%;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

ul.pagination {
    list-style: none;
}
ul.pagination li a {
    text-decoration: none;
}
ul.pagination li {
    float: left;
    width: 35px;
    height: 30px;
    color: #007bff;
    border-radius: 3px;
    border: 1px solid #dee2e6;
    text-align: center;
    padding-top: 7px;
}